---
import Hitokoto from "../index/hitokoto.jsx";
---

<div class="wrap">
    <div class="hitokoto">
        <Hitokoto client:load />
    </div>
    <div class="content">
        <div id="unsplash" class="unsplash"></div>
        <div class="unsplash-cover"></div>
        <div class="operator">
            <div class="input">
                <input type="text" placeholder="Bing" type="search" />
            </div>
            <div class="btns">
                <div class="btn bing">
                    <svg
                        viewBox="0 0 1024 1024"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        p-id="4080"
                        width="28"
                        height="28"
                    >
                        <path
                            d="M911.36 426.666667L433.493333 238.933333c-6.826667-3.413333-13.653333 0-17.066666 3.413334-6.826667 6.826667-6.826667 13.653333-6.826667 20.48l102.4 238.933333 10.24 10.24 146.773333 40.96-416.426666 225.28 116.053333-98.986667c3.413333-3.413333 6.826667-6.826667 6.826667-13.653333V102.4c0-6.826667-3.413333-13.653333-10.24-17.066667L126.293333 0c-6.826667 0-13.653333 0-17.066666 3.413333-3.413333 3.413333-6.826667 6.826667-6.826667 13.653334v853.333333c0 3.413333 0 3.413333 3.413333 6.826667l3.413334 3.413333 3.413333 3.413333 238.933333 136.533334c3.413333 0 6.826667 3.413333 6.826667 3.413333 3.413333 0 6.826667 0 10.24-3.413333l546.133333-341.333334c3.413333-3.413333 6.826667-10.24 6.826667-13.653333V443.733333c0-6.826667-3.413333-13.653333-10.24-17.066666z"
                            fill="white"
                            p-id="4081"
                        >
                        </path>
                    </svg>
                </div>
                <div class="btn google">
                    <svg
                        viewBox="0 0 1024 1024"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        p-id="5232"
                        width="28"
                        height="28"
                    >
                        <path
                            d="M746.666667 597.333333a235.093333 235.093333 0 0 1-192 167.68 262.4 262.4 0 0 1-298.666667-232.533333A256 256 0 0 1 512 256a261.12 261.12 0 0 1 96.853333 18.773333 21.333333 21.333333 0 0 0 27.306667-8.96l61.44-113.066666a22.186667 22.186667 0 0 0-9.813333-29.866667A426.666667 426.666667 0 0 0 85.333333 524.373333 431.786667 431.786667 0 0 0 493.653333 938.666667 426.666667 426.666667 0 0 0 938.666667 534.186667v-85.333334a21.76 21.76 0 0 0-21.333334-21.333333h-384a21.333333 21.333333 0 0 0-21.333333 21.333333v128a21.333333 21.333333 0 0 0 21.333333 21.333334h213.333334"
                            fill="white"
                            p-id="5233"
                        >
                        </path>
                    </svg>
                </div>
                <div class="btn baidu">
                    <svg
                        viewBox="0 0 1024 1024"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        p-id="7158"
                        width="28"
                        height="28"
                    >
                        <path
                            d="M184.081688 539.606474c111.325025-23.971136 95.969849-157.134634 92.813507-186.224162-5.459618-44.78593-58.264362-123.182633-129.836543-116.86995-89.998392 7.933508-103.135598 138.196583-103.135598 138.196584-12.241487 60.141106 29.089528 188.783357 140.158634 164.854874m206.655076-223.503116c61.420704 0 111.069106-70.804422 111.069105-158.243618 0-87.012664-49.477789-157.817086-110.898492-157.817086S279.539698 70.420543 279.539698 157.859739s49.904322 158.243618 111.325025 158.243619m264.748825 10.45005c82.320804 11.089849 134.869628-76.77588 145.532945-143.314975 10.663317-66.112563-42.653266-143.314975-100.661709-156.537488-58.434975-13.478432-130.518995 79.932221-137.77005 140.755779-7.677588 74.643216 10.663317 148.8599 92.557588 159.395257M981.185931 438.688845c0-31.819337-26.146452-127.661226-124.121006-127.661226-97.889246 0-111.325025 90.424925-111.325025 154.404824 0 60.994171 5.033085 145.874171 127.32 143.314976 121.775076-2.985729 108.467257-138.196583 108.467257-170.186534M857.491458 717.470595s-127.32-98.529045-201.579337-204.735679c-100.661709-156.836061-243.763418-92.984121-291.492423-13.478432-47.771658 80.316101-121.988342 130.604302-132.438392 144.04008-10.663317 13.222513-153.551759 90.424925-121.732423 231.180704 31.98995 140.755779 143.314975 138.196583 143.314976 138.196584s81.894272 8.104121 177.437588-13.222513 177.437588 5.118392 177.437588 5.118392 222.095558 74.643216 283.558916-68.671759c60.738251-143.741508-34.549146-217.958191-34.549146-217.958191"
                            fill="white"
                            p-id="7159"
                        >
                        </path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
<script is:inline>
const input = document.querySelector("input");
let inputValue;
input.addEventListener("input", (e) => {
    inputValue = e.target.value;
});
input.addEventListener("keypress", (e) => {
    console.log(e);
    e.key == "Enter" && open("bing");
});

const bing = document.querySelector(".bing");
bing.addEventListener("click", () => open("bing"));
const google = document.querySelector(".google");
google.addEventListener("click", () => open("google"));
const baidu = document.querySelector(".baidu");
baidu.addEventListener("click", () => open("baidu"));

const address = {
    bing: "https://www.bing.com/search?q=",
    google: "https://www.google.com/search?q=",
    baidu: "https://www.baidu.com/s?wd=",
};
const open = (to) => {
    let url = address[to];
    url += inputValue;
    window.open(url, "_self");
};

// 点击添加active样式
// const btns = document.querySelectorAll(".btn");
// btns.forEach((item) => {
//     item.addEventListener("click", () => {
//         item.classList.add("active");
//     });
// });

// 获取背景图
fetch(
    "https://api.unsplash.com/photos/random/?collections=317099&orientation=landscape&client_id=gtJVuXhWYnhx1JZjQnjRiGvvd0pWMdKEtcGSjvoJ3UQ"
)
    .then((response) => response.json())
    .then((data) => {
        document.getElementById(
            "unsplash"
        ).style.backgroundImage = `url(${data.urls.regular})`;
    });
</script>
<style>
    :root {
        --text-input: 20px;
        --text-hitokoto: 32px;
        --text-author: 20px;
        --color-btns: white;
        --color-input-bg: white;
        --color-input-text: #333;
    }
    * {
        box-sizing: border-box;
    }
    .wrap {
        width: 100%;
    }
    .hitokoto {
        padding: 60px 48px;
    }
    .content {
        position: relative;
        width: 80%;
        margin: 0 auto;
        border-radius: 36px;
        overflow: hidden;
    }
    .unsplash,
    .unsplash-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .unsplash {
        background-size: cover;
    }
    .unsplash-cover {
        backdrop-filter: brightness(0.8);
        -webkit-backdrop-filter: brightness(0.8);
    }
    .operator {
        width: 100%;
    }
    .btns,
    .input {
        margin: 0 auto;
        width: 70%;
        max-width: 500px;
    }
    input {
        width: 100%;
        padding: 16px 24px;
        background-color: var(--color-input-bg);
        border-radius: 50px;
        border: none;
        font-size: var(--text-input);
    }
    input:focus-visible {
        outline: none;
    }
    .btns {
        color: var(--color-btns);
    }
    .bing,
    .google,
    .baidu {
        padding: 8px 16px;
        width: 80px;
        backdrop-filter: blur(12px) brightness(0.8);
        -webkit-backdrop-filter: blur(12px) brightness(0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        margin: 0 auto;
    }
    .bing,
    .google {
        margin: 20px auto;
    }
    .active {
        background-color: var(--color-input-bg);
        color: var(--color-input-text);
    }
    @media (max-width: 479px) {
        .content {
            width: 100%;
            border-radius: 0;
        }
        .operator {
            margin: 60px 0 40px;
        }
    }
    @media (min-width: 480px) {
        .content {
            height: 445px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @media (min-width: 768px) {
        .content {
            height: 545px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
</style>
