---
import Hitokoto from "./index/hitokoto.jsx";
import Unsplash from "./index/unsplash.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <style>
      body {
        padding: 0;
        margin: 0;
        min-height: 100vh;
      }
    </style>
  </head>
  <body>
    <Unsplash client:load />
    <Hitokoto client:load />
    <h1>Astro</h1>
  </body>
</html>
